nav {
    display : inline;
    position:fixed;
    width : 20%;
    height: 100%;
    background-color: #243887;
    border-right: #9d9fa1;
    border : 1px solid;
}

header {
    display : block;
    margin-left : 20%;
    width : 100%;
    height: 10%;
    background-color: #9d9fa1;
}

section {
    display : block;
    margin-left:20%;
    width : 100%;
    height: 80%;
    background-color: #4193d0;

}

footer {
    display : block;
    margin-left:20%;
    width : 100%;
    height : 10%;
    background-color: #6d6e70;
}
